{% extends 'base.html'%}

{%block content%}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to the Ecommerce Website</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="center">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, voluptatum. Sint repellat vero nostrum est? Nobis, minus animi repellendus rerum tempore perferendis harum fuga aut voluptatum alias officiis eligendi ipsum!
                    Repudiandae quidem, aspernatur sequi, doloremque sunt harum, deserunt nulla consectetur at cupiditate quis porro officiis id vel incidunt eaque temporibus dolores quae quisquam praesentium deleniti fugiat repellat animi provident. Dolorum.
                    Eaque alias voluptatum excepturi dignissimos quas officiis id cupiditate et. Ipsam similique quidem tempore nobis tempora quia fugiat facere dolore non et dolor, illo eos odit nam. Delectus, iste ab?
                    Reprehenderit, ducimus! Ullam rerum officiis aperiam iste adipisci recusandae nihil a, molestiae doloremque ex mollitia consequuntur. Ullam distinctio animi architecto est odit autem aliquid earum. Pariatur cumque nulla atque unde.
                    Impedit quas eligendi vero sint odio laboriosam nostrum illo eaque quibusdam, sunt accusamus nihil, alias perferendis omnis facilis quia ipsam ullam suscipit deserunt, laborum enim beatae quo nemo. Nulla, totam.
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit praesentium doloribus officia libero, aspernatur ad nulla velit reprehenderit dolor eligendi architecto possimus quae ex recusandae accusamus error vero quia veniam?
                    Accusamus facilis, eligendi itaque modi minus error ad aspernatur natus! Veniam consequuntur sapiente nam illum corrupti recusandae consequatur incidunt, excepturi qui dignissimos quibusdam porro corporis doloribus sit iste quod omnis?
                    Porro rem ducimus minima quae eligendi eaque repellat, deleniti ex voluptas quos quam explicabo sit fugiat beatae accusantium atque, tempora error ab veniam. In quisquam sint dolores atque, harum natus.
                    Rem minima perspiciatis sequi iste hic quis ex praesentium, consequuntur dolorem. Neque cum numquam, nobis fuga recusandae nesciunt deleniti quibusdam corrupti. Ut, dolorum doloremque magni doloribus eligendi quam nostrum blanditiis?
                    Saepe accusamus, omnis eos eaque excepturi molestias doloribus nihil sunt possimus ipsum! Numquam obcaecati veritatis reiciendis, voluptatibus accusamus mollitia minus in vitae cumque. Consequuntur recusandae fuga quidem omnis similique dicta?
                </p>
            </div>
        </center>
    </div>
</div>
<br><br>

{%endblock%}